# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore database and compiled files
*.sqlite3
*.db

# Ignore system files (Mac and Windows)
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/
__pycache__/models.cpython-310.pyc
__pycache__/crud.cpython-310.pyc
*.pyc
*.pyc
/pages/__pycache__
*.pyc
/pages/__pycache__
/pages/__pycache__
